﻿@import '../../Styles.scss';

.HeaderStyle {

    .navbar {
        border-radius: 0;
        margin-bottom: 0;
        border: 0;
        padding: 11px 0;
        background-color: #fff;
        box-shadow: $box-shadow;

        .navbar-brand {
            height: auto;
        }

        .nav.navbar-nav {
            padding: 12px 30px;

            li {
                padding: 15px;

                a {
                    text-transform: uppercase;
                    padding: 0;
                    border-bottom: solid 2px transparent;
                    transition: all .2s;
                    cursor: pointer;

                    &:hover {
                        border-bottom-color: $orange;
                    }
                }
            }

            .active {
                a {
                    border-bottom-color: $orange;
                    cursor: default;
                }
            }
        }
    }

    .navbar-right {
        float: right;
        margin-right: 0;

        .navbar-autorization {
            .ButtonStyle {
                margin-top: 20px;
            }
        }
    }
}
