@import '../../Styles.scss';

.tabs {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin: 0;
        text-align: center;
        padding: 10px 0;
        width: 50%;
        cursor: pointer;
        background-color: $grey;
        font-weight: bold;
    }

    li.active {
        background-color: inherit;
        cursor: default;
    }
}

form {
    padding: 30px;
}