@import '../../Styles.scss';

body {
    background-color: $grey-light;

    font: {
        family: $corporate-font;
        size: 14px;
    }
}

#form_authorization {
    margin-top: 5%;

    h3 {
        margin: 20px 0;

        font: {
            weight: 100;
            size: 20px;
        }
    }

    .formLogin {
        width: 350px;
        margin: 30px auto;
        border: 2px solid $grey;
        border-radius: $border-radius;
        background-color: #fff;

        form > * {
            //display: block;
            margin: 0 0 15px 0;
        }

        .k-dropdown {
            width: 100%;
        }

        a {
            display: inline-block;
            margin: 0;
        }

        p {
            margin-bottom: 2px;
        }

        button {
            width: 100%;
        }

        ul {
            margin-bottom: 0;
        }
    }
}