@import '../../Styles.scss';

.TextBoxStyle {
    display: flex !important;
    flex-direction: column-reverse;

    input {
        width: 100%;
        margin-bottom: 5px;
        color: #444444;
        /*text-indent: 0;
        padding: {
            left: 0;
            right: 0;
        }*/

        border: {
            radius: 0;
            width: 0;
            bottom: 2px solid $grey;
        }

        &:focus,
        &:hover {
            box-shadow: none;
            border-color: $orange;
            outline: 0;
        }

        &:focus + label {
            color: $orange;
        }
    }

    label {
        margin-bottom: 0!important;
    }
}