﻿@import '../../Styles.scss';

.ButtonStyle {
    button {
        text-transform: capitalize;
        box-shadow: none;
        border-radius: $border-radius;
        font: {
            weight: bold;
        }
    }
}