﻿@import '../../Styles.scss';

.dTextBox {
    position: relative;

    input {
        padding-right: 20px;
    }

    .k-i-close {
        position: absolute;
        bottom: 15px;
        right: 0;
        opacity: .3;
        cursor: pointer;
    }
}
