@import '../../Styles.scss';

.ButtonLink {
    color: $orange;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;

    &:hover {
        color: $orange;
        text-decoration: underline;
    }
}