@import '../../Styles.scss';

body {
    margin: 0;
    padding: 0;

    * {
        font-family: $corporate-font;
    }

    .flexbox-col,
    .flexbox-row {
        display: flex;
    }

    .flexbox-col {
        flex-direction: column;
    }

    .flexbox-row {
        flex-direction: row;
    }
}
