﻿@using FinflaexExtension.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>
        @((ViewBag.Title as string)
              .AsType<string>()
              .RetifFree("Twintel", caption => $"TW | {caption}"))
    </title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/twintel.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/admin.css"/>
    <script src="~/signalr-client-1.0.0-alpha2-final.min.js"></script>
    @RenderSection("head",false)
</head>
<body class="navbar-top" style="zoom: 1">
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="pageHeader"></div>
@RenderBody()
<div id="pageFooter"></div>
<script src="~/js/admin.js"></script>
<script>
    var httpUrl = new signalR.HttpConnection("/connect");
    var connectHub = new signalR.HubConnection(httpUrl);
</script>
</body>
</html>