﻿@using FinflaexExtension.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>
        @((ViewBag.Title as string)
              .AsType<string>()
              .RetifFree("Finflaex", caption => $"FX | {caption}"))
    </title>
    <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.material.min.css" rel="stylesheet" type="text/css"/>

    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2018.1.117/js/cultures/kendo.culture.ru-RU.min.js"></script>
    <script>kendo.culture("ru-RU")</script>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/twintel.ico" type="image/x-icon">
    <script src="~/signalr-client-1.0.0-alpha2-final.min.js"></script>
    @RenderSection("head", false)
</head>

<body class="navbar-top" style="zoom: 1">

<script>
    var httpUrl = new signalR.HttpConnection("/login");
    var connectHub = new signalR.HubConnection(httpUrl);
</script>

@RenderBody()
</body>
</html>