@{
    Layout = "_Base";
}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<link rel="stylesheet" href="~/css/client.css"/>
<script src="~/js/client.js"></script>