﻿@using Kendo.Mvc.UI
@using web.Areas.Base.Controllers

@model StartController.LoginModel

@{
    Layout = "_Base";
}
<noscript>You need to enable JavaScript to run this app.</noscript>
@Html.HiddenFor(v=>v.Path)
<div id="root"></div>
<link rel="stylesheet" href="~/css/login.css"/>
<script src="~/js/login.js"></script>

@(
        Html.Kendo().DateTimePicker().Name("asd")
        )