﻿@import '../../../Styles.scss';

.panel {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 2em 1em;

    .row {
        display: block;
        margin: 0 0 2em;

        .k-datepicker {
            width: 100%;
        }
    }
}