﻿$border-radius: 5px;
$orange: #ff5800;
$orange-light: #ff6e00;
$grey: #eee;
$grey-light: #f4f4f4;
$grey-dark: #2c2e30;
$corporate-font: 'Open Sans';
$box-shadow: 0 0 5px #000;
$indent: 2em;

.k-radio-label:before {
    height: 18px;
    width: 18px;
}

.k-calendar td.k-state-focused, .k-calendar td.k-state-selected.k-state-focused {
    box-shadow: inset 0 0 0 1px $orange;
}

.list {
    border: 1px solid $grey-light;
    padding: 1em 2em;
}

.content {
    background-color: $grey-light;
    width: 100%;
    padding: 1em 2em;
}

.dropDownList {
    select {
        height: 2.694em;
        text-indent: 0.8em;
        line-height: 1.6em;
        width: 100%;
        margin-bottom: 5px;
        color: #444444;
        border-radius: 0;
        border-width: 0;
        border-bottom: 2px solid #eee;

        &:focus,
        &:hover {
            outline: 0;
        }
    }
}