﻿@import '../../Styles.scss';

.FooterStyle {
    background-color: #464750;
    border-top: 3px solid $orange;
    padding: 3em 0;
    color: #fff;
    font-size: 14px;

    p {
        margin-bottom: 0;
        padding-bottom: 14px;
        line-height: 1.7;

        &:first-child {
            color: #acacac;
        }

        a {
            font: {
                size: 16px;
                weight: 100;
            }

            color: #fff;
        }
    }

    .copyright {
        border-top: solid 1px #51525b;
        padding-top: 3em;
        margin-top: 2em;
    }
}
